<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BE(ne)FIT</title>
    <link rel="shortcut icon" href="https://i.ibb.co/8mY4wFr/favicon-16x16.png">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<style>
    body {
 background-image: url("http://s1.bwallpapers.com/wallpapers/2014/02/08/cat-desktop-wallpapers_093805342.jpg");
 background-repeat:no-repeat;
    background-size:cover;
}
    .container {
  position: relative;
  width: 100%;
  max-width: 2400px;
}
.responsive {
  width: 100%;
  height: auto;
}
</style><body>
<div class="container">
        <h1>Move along Hooman! </h1>
        <h2>Nothing to see here</h2>
        <a class="btn" href="/">Go Away!</a>
</div>
</body>
</html>